<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/style.css' %}">
    <meta charset="UTF-8">
    <title>Brandywine Clinic</title>
</head>
<body>
    <div class="header">
        <h1 class="logo-name">Brandywine Clinic</h1>
        <div class="header-right">
            <a class="header-link" href="{% url 'index' %}">Home</a>
            <a class="header-link" href="{% url 'departments' %}">Departments</a>
            <a class="header-link" href="{% url 'staff' %}">Staff</a>
            {% if request.user.is_authenticated %}
                {% for group in request.user.groups.all %}
                    {% if group.name == "Patients" %}
                        <a class="header-link" href="{% url 'patient_account' user.id %}">Account Page</a>
                    {% elif group.name == "Doctors" %}
                        <a class="header-link" href="{% url 'doctor_account' user.id %}">Account Page</a>
                    {% else %}
                        <a class="header-link" href="{% url 'index' %}">Account Page</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <button class="button"><a class="login-link" href="/hospital/login/">Log In</a></button>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>