{% extends "hospital/base-account.html" %}

{% block content %}
<div class="side-container">
    <h1>General Information</h1>
    <div class="white-block">
        <div class="info-line">
            <h3 class="label">First Name</h3>
            <h3 class="info">{{ patient.first_name }}</h3>
        </div>
        <div class="info-line">
            <h3 class="label">Last Name</h3>
            <h3 class="info">{{ patient.last_name }}</h3>
        </div>
        <div class="info-line">
            <h3 class="label">Age</h3>
            <h3 class="info">{{ patient.age }}</h3>
        </div>
        <div class="info-line">
            <h3 class="label">Gender</h3>
            <h3 class="info">{{ patient.gender }}</h3>
        </div>
        <div class="info-line">
            <h3 class="label">Phone number</h3>
            <h3 class="info">{{ patient.phone_number }}</h3>
        </div>
        <div class="info-line">
            <h3 class="label">Email</h3>
            <h3 class="info">{{ patient.email }}</h3>
        </div>
    </div>
</div>
{% endblock %}